<section class="delivery">
    <div class="container">
        <div class="template-title">
            <h2>Варианты доставки грузов из Китая</h2>
        </div>
        <div class="dilivery-slider">
            <div>
                <div class="card">
                     <div class="card-img">
                        <img src="assets/img/delivery-1.png" alt="delivery-case">
                     </div>
                     <h4 class="card-title">Авто - обычная</h4>
                     <div class="card-option">
                        <div class="card-attr">
                            <div class="card-attr-item">9-15 дней</div>
                            <div class="card-attr-item">от 5 кг</div>
                        </div>
                        <div class="card-price">
                            от 2,5$/кг
                        </div>
                     </div>

                     <div class="card-button-row">
                        <button type="button" class="btn btn-primary">Оставить заявку</button>
                        <button type="button" class="btn btn-secondary">Подробнее</button>
                     </div>
                </div>
            </div>
            <div>
                <div class="card">
                     
                </div>
            </div>
            <div>
                  <div class="card">
                     
                </div>
            </div>
            <div>
                  <div class="card">
                     
                </div>
            </div>
            <div>
                  <div class="card">
                     
                </div>
            </div>
        </div>
    </div>
</section>